sheet_20171020_8pm/.ipynb_checkpoints/

sheet_20171027_8pm/.ipynb_checkpoints/
sheet3_20171103_8pm/.ipynb_checkpoints/
sheet4_20171110_8pm/.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*.pyc
*.aux
*.log
*.synctex.gz
*.out